<p>
  <%= @user.phone %>
</p>
<p>
  <%= t('sms_text') %>
</p>

<p>
  <%= link_to t('link_local_3000'), "http://localhost:3000/#{@link}clinicians/#{@user.clinician_id}/patients/#{@user.token}", :target => '_blank' %>
</p>


<p>
  <%= link_to t('link'), "http://sign2health.herokuapp.com/#{@link}clinicians/#{@user.clinician_id}/patients/#{@user.token}", :target => '_blank' %>
</p>

<p>
  <%= t('sms_sign_out') %>
</p>

<p>
  <%= t('app_title') + t('sms_signature') %>
</p>
