<h1><%= t('email_hello') %></h1>

<p>
  <%= @user.first_name %>
  <br>
  <br>
  <%= t('email_text') %>
</p>

<p>
  <%= link_to t('link_local_3000'), "http://localhost:3000/#{@link}clinicians/#{@user.token}", :target => '_blank' %>
</p>

<p>
  <%= link_to t('link'), "http://sign2health.herokuapp.com/#{@link}clinicians/#{@user.token}", :target => '_blank' %>
</p>

<p>
  <%= t('email_sign_out') %>
</p>

<p>
  <%= t('app_title') + t('email_signature') %>
</p>
