<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1 class="top-of-page">
        <%= t("new_clinician") %>
      </h1>
      <h5><%= t("new_clinician_text") %></h5>
      <h5><%= t("new_clinician_text_2") %></h5>
    </div>
    <div class="col-md-2"></div>
  </div>
  <br>
  <div class="row">
    <div class="line-form">
      <%= form_for Clinician.new do |f| %>
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <%= f.text_field :first_name, required: true, :placeholder => t('first_name'), :class => "form-control" %>
        <br>
        <%= f.text_field :last_name, required: true, :placeholder => t('last_name'), :class => "form-control" %>
        <br>
        <%= f.text_field :email, required: true, :placeholder => t('email'), :class => "form-control" %>
        <br><br>
        <!-- TODO add bank details etc -->
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <%= f.submit t('enroll'), :class => "btn btn-size-a btn-dark" %>
      <% end %>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
