<!-- <div class="language mini-padded">
    <p class="language_button" id="fr"><%#= link_to_unless I18n.locale == :fr, "fr", root_path(params[:locale]=:fr) %></p>
    <p class="language_button" id="en"><%#= link_to_unless I18n.locale == :en, "en", root_path(params[:locale]="") %> </p>
    <p class="language_button" id="nl"><%#= link_to_unless I18n.locale == :nl, "nl", root_path(params[:locale]=:nl) %></p>
</div> -->

<div class="title-image glow">
</div>
<div class="screen-size">
  <div class="middle-of-div">
    <h1 class="bigEntrance">
      <%= t('app_title') %>
    </h1>
    <h3 class="mini-padded black-text-shadow">
      <%= t('a_portfolio') %>
    </h3>
  </div>
</div>

<div class="black-text-shadow-simple mini-padded">
  <p><%= t('pitch') %></p>
  <p class="transp-black"><%= t('pitch2') %></p>
  <p><%= t('pitch3') %></p>
</div>




<div class="container">

  <div class="row top-margin">
    <div class="col-xs-12">
      <div class="white max-one-screen">
        <h3 class="mini-padded black-text-shadow-simple">
          <%= t('watch_video_demo') %>
        </h3>
         <%= image_tag "http://magnyficent.com/magnyficent/images/sign2heal-patient-v.png", class: "img-fit-parent smaller centered" %>
      </div>
    </div>
  </div>

  <div class="row top-margin">
    <div class="col-xs-12">
      <div class="auto-rotate">
        <div class="office full-square-image">
          <h3 class="mini-padded black-text-shadow">
            <%= t('whether_at_the_office') %>
          </h3>
        </div>
        <div class="road full-square-image">
          <h3 class="mini-padded black-text-shadow">
            <%= t('or_on_the_road') %>
          </h3>
        </div>
      </div>
    </div>
  </div>
  <br>





  <div class="row transp-black">
    <div class="col-xs-12">
      <div class="auto-rotate">
        <div class="full-square-image white-border">

          <h3 class="black-text-shadow">
            <%= t('a_simple_dashboard') %>
          </h3>
          <%= image_tag "http://magnyficent.com/magnyficent/images/air-s2h.png", class: "img-fit-parent centered" %>
        </div>
        <div class="full-square-image">
          <h3 class="black-text-shadow">
            <%= t('for_a_simple_payment') %>
          </h3>
          <%= image_tag "http://magnyficent.com/magnyficent/images/sign2pay-h.png", class: "img-fit-parent centered" %>
          <div class="row full-width" style="position:absolute;bottom:0">
            <div class="col-xs-3 col-md-4"></div>
            <div class="col-xs-6 col-md-4">
              <%#= link_to t("discover_sign2"), "https://www.sign2pay.com", :class => "full-width btn btn-size-a btn-dark btn-round"%>
            </div>
            <div class="col-xs-3 col-md-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <br>
  <br>
  <div class="row">
    <div class="row transp-black">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-6"><b><%= t('terminal') %></b></div>
          <div class="col-xs-6"><b><%= t('app_title') %></b></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-xs-12 thirty-perc">
        <% 8.times do |x| %>
          <div class="black-border">
            <div class="row white">
              <div>
                <h4 class="bg-blue rounded-inline">
                  <%= t('column_a_'+x.to_s) %>
                </h4>
              </div>
            </div>
            <div class="row white">
              <div class="col-xs-6"><%= t('column_b_'+x.to_s) %></div>
              <div class="col-xs-6"><%= t('column_c_'+x.to_s) %></div>
            </div>
            <div class="row white">
              <div class="col-xs-6">
                <%= image_tag( t('column_d_'+x.to_s), class: "icon") %>
              </div>
              <div class="col-xs-6">
                <%= image_tag("valid.png", class: "icon") %>
              </div>
            </div>
          </div>
        <% end %>
          <div class="row">
            <div class="mini-padded">
              <h3 class="rounded-inline">
                <%= t('final_score') %>
              </h3>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-4 bg-red" style="border-radius:10px"><%= "12.5%" %></div>
            <div class="col-xs-2"></div>
            <div class="col-xs-4 bg-green" style="border-radius:10px"><%= "100%" %></div>
            <div class="col-xs-1"></div>
          </div>
      </div>
    </div>
  </div>


  <br>
  <br>

  <div class="row">
    <div class="col-xs-12 white-border transp-black">
      <h3><%= t('test_it_out_today') %></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3><%= t('no_commission').upcase %></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 transp-black">
      <h3 class="bottom-padded"><%= t('one_month_free') %></h3>
    </div>
  </div>

<%#= javascript_tag do %>
<!--
  /*=================================================
  hide the languages buttons not needed
  =================================================*/

  $(document).on('ready', function() {
    $('.language_button').toggle().addClass('hidden');
    var locale = <%#= I18n.locale.to_s %>;
    $(locale).toggle().addClass('shown').removeClass('hidden');
    $('.shown').click(function(){
      $('.hidden').fadeIn().addClass('shownOther').removeClass('hidden');
      setTimeout(function(){ $('.shownOther').fadeOut().addClass('hidden').removeClass('shownOther'); }, 2000);
      console.log('click')
    });

  });

<%# end %> -->

<%= javascript_tag do %>
  $(document).ready(function(){
     var container_width = $('.container').width();
     $('.full-square-image').height(container_width);
     $('.auto-rotate').slick({
        arrows: false,
        dots: true,
        infinite: true,
        speed: 500,
        fade: true,
        adaptiveHeight: true,
        mobileFirst: true,
        cssEase: 'linear'
     });
   });
<% end %>
