<!-- <div class="title-image glow"></div> -->
<!-- <div class="screen-size">

</div> -->

<div class="homepage-hero-module">
  <div class="video-container">
    <div class="filter"></div>
    <video autoplay loop class="fillWidth">
        <source src="Holy-Cow.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
        <source src="Holy-Cow.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>
    <div class="poster hidden">
        <%= image_tag "Holy-Cow.jpg"%>
    </div>

    <!-- <div class="language mini-padded" id="top">
        <%#= link_to "fr", root_path(params[:locale]=:fr), :class => "language_button", id: "fr"%>
        <%#= link_to "en", root_path(params[:locale]=""), :class => "language_button", id: "en" %>
        <%#= link_to "es", root_path(params[:locale]=:es), :class => "language_button", id: "es" %>
    </div> -->

    <div class="timeline">
      <a href="#past"><%= t('past') %></a> | <a href="#current"><%= t('current') %></a> | <a href="#future"><%= t('future') %></a>
    </div>

    <div class="middle-of-div">

      <h1 class="bigEntrance">
        <%= t('app_title') %>
      </h1>
      <h3 class="mini-padded ">
        <%= t('a_portfolio') %>
      </h3>
      <%= t('and_some_cows') %>
    </div>

  </div>
</div>




<div class="container">

  <!-- current -->
  <div class="row top-margin" id="current">
    <div class="col-xs-12 ">
      <div class="auto-rotate">
        <div class="white">
          <h3 class="mini-padded ">
            <%= t('Sign2Heal') %>
          </h3>
           <%= image_tag "sign2heal-patient-v.png", class: "img-fit-parent smaller centered" %>
           <div class="bottom">
             <p><%= t('Position') %></p>
             <p><%= t('lead_developer') %></p>
           </div>
        </div>
        <div class="white">
          <h3 class="mini-padded">
            <%= t('functions') %>
          </h3>
           <p><%= t('helping_hp') %></p>
           <p><%= t('accept_any_debit') %></p>
           <p><%= t('anywhere') %></p>
           <p><%= t('coded_everything') %></p>
           <a href="http://www.heal.sign2pay.com" target="blank">
              <div class="btn pulse bottom"><%= t('visit') %></div>
            </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row top-margin">
    <div class="col-xs-12 ">
      <div class="auto-rotate">
        <div class="white">
          <h3 class="mini-padded">
            <%= t('Sign2Pay') %>
          </h3>
           <%= image_tag "Sign2Pay.png", class: "img-fit-parent centered" %>
           <div class="bottom">
             <p><%= t('Position') %></p>
             <p><%= t('developer') %></p>
           </div>
        </div>
        <div class="white">
          <h3 class="mini-padded">
            <%= t('functions') %>
          </h3>
           <div>
             <p><%= t('sign2pay1') %></p>
             <p><%= t('sign2pay2') %></p>
             <p><%= t('front_end') %></p>
           </div>
           <a href="http://www.sign2pay.com" target="blank">
              <div class="btn pulse bottom"><%= t('visit') %></div>
            </a>
        </div>
      </div>
    </div>
  </div>




  <!-- past   -->
  <div class="row top-margin" id="past">
    <div class="col-xs-12 ">
      <div class="auto-rotate">
        <div class="">
          <h3 class="mini-padded ">
            <%= t('Macchiato') %>
          </h3>
          <%= image_tag "Macchiato.png", class: "img-fit-parent centered" %>
          <div class="bottom">
            <p><%= t('Position') %></p>
            <p><%= t('lead_developer') %></p>
          </div>
        </div>
        <div class="">
          <h3 class="mini-padded ">
            <%= t('key_features') %>
          </h3>
          <p><%= t('full_personality_test') %></p>
          <p><%= t('based_on_mbti_test') %></p>
          <p><%= t('user_level') %></p>
          <p><%= t('corporate_level') %></p>
          <a href="http://www.macchiatoinnovation.com" target="blank">
            <div class="btn pulse bottom"><%= t('visit') %></div>
          </a>
        </div>
      </div>
    </div>
  </div>
   <div class="row top-margin">
    <div class="col-xs-12 ">
      <div class="auto-rotate">
        <div class="">
          <h3 class="mini-padded">
            <%= t('Castle_Bnb') %>
          </h3>
          <%= image_tag "CastleBnb.png", class: "img-fit-parent centered" %>
          <div class="bottom">
            <p><%= t('Position') %></p>
            <p><%= t('lead_developer') %></p>
          </div>
        </div>
        <div class="">
          <h3 class="mini-padded ">
            <%= t('key_features') %>
          </h3>
          <p><%= t('5_day_coding_challenge') %></p>
          <p><%= t('airbnb_clone') %></p>
          <a href="http://castle-bnb.herokuapp.com/" target="blank">
            <div class="btn pulse bottom"><%= t('visit') %></div>
          </a>
        </div>
      </div>
    </div>
  </div>
   <div class="row top-margin">
    <div class="col-xs-12 ">
      <div class="auto-rotate">
        <div class="">
          <h3 class="mini-padded ">
            <%= t('Pierre_Sang') %>
          </h3>
          <%= image_tag "PierreSang.png", class: "img-fit-parent centered" %>
          <div class="bottom">
            <p><%= t('Position') %></p>
            <p><%= t('operational_manager') %></p>
          </div>
        </div>
        <div class="">
          <h3 class="mini-padded ">
            <%= t('key_features') %>
          </h3>
          <p class="justify"><%= t('coordination_of') %> <%= t('team_ps') %> <%= t('a_great_online_presence') %></p>
          <a href="http://www.pierresangboyer.com" target="blank">
            <div class="btn pulse bottom"><%= t('visit') %></div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>

  <!-- THE FUTURE -->
  <div class="row" id="future">
    <div class="col-xs-12 ">
      <div class="auto-rotate">
        <div class="transp-black">

          <h3 class="">
            <%= t('the_future') %>
          </h3>
          <%= image_tag "http://magnyficent.com/magnyficent/images/air-s2h.png", class: "img-fit-parent centered" %>
        </div>
        <div class=" transp-black" id="contact">
          <h3 class="">
            <%= t('lets_create_it') %>
          </h3>
          <br>
          <br>
          <div class="bottom red">
            <a href="mailto:life_is@magnyficent.com?subject=Hi Antoine!&body=Type something nice here! (or paste a cool GIF ;-) )">
              <div class="btn btn-red pulse bottom">
                <%= t('get_in_touch_anytime') %>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="friends">
    <div class="col-xs-12">
      <h3 class="">
        <%= t('visit_those') %>
      </h3>
      <div class="auto-rotate">
        <div class="min-sixty">
          <%= image_tag "o-chateau.png", class: "img-fit-parent centered" %>
          <div><%= t('best_wine_school') %></div>
          <a href="http://www.o-chateau.com" target="_blank">
            <div class="btn pulse bottom"><%= t('visit') %></div>
          </a>
        </div>
        <div class="min-sixty">
          <%= image_tag "koalike.png", class: "img-fit-parent centered" %>
          Koalike
          <div><%= t('boost_your_socialness') %></div>
          <a href="http://www.koalike.com" target="_blank">
            <div class="btn pulse bottom"><%= t('visit') %></div>
          </a>
        </div>
        <div class="min-sixty">
          <%= image_tag "http://miae.fr/resources/_wsb_489x312_gracias.jpg", class: "img-fit-parent centered" %>
          MIAE
          <div><%= t('feeding_south_america') %></div>
          <a href="http://www.miae.fr" target="_blank">
            <div class="btn pulse bottom"><%= t('visit') %></div>
          </a>
        </div>
        <div class="min-sixty">
          <p><%= t('want_to_be_added_to_this') %></p>
          <p><%= t('prices_start') %></p>
          <a href="#contact" target="blank">
           <div class="btn btn-red pulse bottom"><%= t('contact_me') %>!!</div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>

  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10 white-border">
      <h3><%= t('biography') %></h3>
      <div class="justify">
        <p><%= t('biography_text') %></p>
        <p><%= t('biography_text2') %><a href='http://www.twitter.com/lewagon_brussels'><%= t('le_wagon') %></a><%= t('biography_text3') %></p>
        <p><%= t('skills') %></p>
      </div>
      <hr>
      <p><%= t('my_age') %></p>
      <p class="time">
        <% t = Time.at(Time.now - Time.new(1988,1,18,12,00)) %>
        <div class="time"><%= t.year - 1970 %> <%= t('years') %> <%= t.month %> <%= t('months') %> <%= t.day %> <%= t('days') %> <%= t.hour %> <%= t('hours') %> <%= t.min %> <%= t('minutes') %> & <%= t.sec %> <%= t('seconds') %> <%= t('old') %></div>
      </p>
      <p><%= t('and') %> <%= t('living_in') %> <%= t('antwerp') %></p>
      <hr>
      <p><%= t('I_also_do') %>: </p>
      <p><a href="http://www.instagram.com/ketogenicallday" target="_blank"><%= t('eating') %></a>, <a href="http://www.magnyficent.com/images/drinking.jpg"><%= t('drinking') %></a>, <a href="http://www.magnyficent.com/images/skiing.jpg"><%= t('skiing') %></a> or <a href="http://www.magnyficent.com/images/water.jpg"><%= t('playing_in_the_water') %></a></p>
      <p>-</p>
      <p><%= t('thanks') %></p>
    </div>
    <div class="col-xs-1"></div>
  </div>

</div>

<%#= javascript_tag do %>
 <!--  $(document).ready(function(){
    setInterval( function(){
      $(".seconds").css("opacity", 0);
      $(".seconds").load($(this));
      setInterval( function(){
        $(".seconds").css("opacity", 1);
      },1000);
    },1000);
  }); -->
<%# end %>
<%#= javascript_tag do %>
   <!-- function pulseSeconds() {
#       var secs = <%= t.sec %>
#       $('.seconds').fadeOut(500, function(){ $(this).text(secs); $(this).delay(100).fadeIn(500); });
#   }

#   setInterval(pulseSeconds, 1000); -->
<%# end %>

<%#= javascript_tag do %>
 <!--  /*=================================================
  hide the languages buttons not needed
  =================================================*/

  $(document).on('ready', function() {
    $('.language_button').toggle().addClass('hidden');
    var locale = <%#= I18n.locale.to_s %>;
    $(locale).toggle().addClass('shown').removeClass('hidden');
    $('.shown').click(function(){
      $('.hidden').fadeIn().addClass('shownOther').removeClass('hidden');
      setTimeout(function(){
        $('.shownOther').fadeOut().addClass('hidden').removeClass('shownOther');
      }, 2000);
      return false;
    });
  }); -->
<%# end %>


