<!DOCTYPE html>
<html>
  <head>
    <title><%= t('app_title') %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="description" content=  "<%= t('app_title') %>: faster and easier health payments">
    <meta name="keywords" content="health payment pay easy simple doctor consultation">
    <meta name="author" content=<%= t('app_title') %>>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>


    <%= yield %>

  </body>
</html>
